
Transformer/__pycache__/
GPT/__pycache__/

Transformer/test.py
Transformer/train.ipy

GPT/.ipynb_checkpoints/
Transformer/.ipynb_checkpoints/

Train.ipynb
Kanye West Lyrics.txt

Transformer/checkpoints/
